<h4>name:{{name}}</h4>
<h4>email:{{email}}</h4>
<h4>Date of Birth:{{dob}}</h4>
<h4>address:{{address}}</h4>
<a href="/update" class="btn btn-secondary">update info</a>
<a href="#" class="btn btn-danger" id="logout">logout</a>
<script src="./js/logout.js"></script>

