<section class="login">
    
    <div class=" p-3">
        <h1>Login</h1>
        <form class="login">
        <div class="input-group mb-3">
            
            <span class="input-group-text " id="basic-addon1">Username</span>
            <input type="text" class="form-control" id="username-login" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Password</span>
            <input type="password" id="password-login" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-5">login</button>
       <a href="/register" class="btn btn-secondary btn-block fa-lg  mb-5">register</a>
        
    </div>
    </form>
</section>
<script src="./js/login.js"></script>