<form action="/api/users/update" method="POST" class="row g-3  p-2 br-5 signup-form">
    <div class="form-title">
        <h1>Registration Form</h1>
    </div>
    <div class="col-md-6">
        <label for="" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="name-update" placeholder="John Doe">
    </div>
   
    <div class="col-md-6">
        <label for="" class="form-label ">date of birthday</label>
        <input type="date" name="dob" class="form-control" id="dob-update">
    </div>
    <div class="col-md-6">
        <label for="" class="form-label ">address</label>
        <input type="text" name="address" class="form-control" id="address-update">
    </div>
    <div>
        <button type="submit" class="btn btn-warning">update info</button>
    </div>
</form>